imports:
  - { resource: ./dist/base-conventions.yml }

grumphp:

  # Tasks.
  tasks:

    # PHP Code Sniffer.
    phpcs:
      standard: '%tasks.phpcs.standard%'
      ignore_patterns: '%tasks.phpcs.ignore_patterns%'
      triggered_by: '%tasks.phpcs.triggered_by%'
      whitelist_patterns: '%tasks.phpcs.whitelist_patterns%'
      warning_severity: '%tasks.phpcs.warning_severity%'
      metadata:
        priority: 300

    # PHP Stan.
    phpstan:
      autoload_file: '%tasks.phpstan.autoload_file%'
      configuration: '%tasks.phpstan.configuration%'
      level: '%tasks.phpstan.level%'
      force_patterns: '%tasks.phpstan.force_patterns%'
      ignore_patterns: '%tasks.phpstan.ignore_patterns%'
      triggered_by: '%tasks.phpstan.triggered_by%'
      memory_limit: "-1"
      use_grumphp_paths: true

    # Commit message format.
    git_commit_message:
      matchers: '%tasks.git_commit_message.matchers%'
      case_insensitive: false
      enforce_no_subject_trailing_period: false
      multiline: false
      max_body_width: 0
      max_subject_width: 0

  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T web'

parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - tests/fixtures/
  tasks.phpcs.standard: phpcs.xml
  tasks.phpcs.warning_severity: 0
  tasks.phpstan.ignore_patterns: '%tasks.phpcs.ignore_patterns%'
