parameters:
  ascii:
    failed: ~
    succeeded: ~
  tasks:
    git_commit_message:
      matchers:
        - '/^#\d+: [A-Z].+\./'
      case_insensitive: false
      multiline: false
    phpcs:
      standard: vendor/drupal/coder/coder_sniffer/Drupal/
      ignore_patterns:
        - vendor/
        - test/fixtures/
      triggered_by:
        - php
    yamllint: ~
