parameters:
    ascii:
        failed: ~
        succeeded: ~
    tasks:
        phpcs: ~
        phpmd: ~
    extra_tasks:
        git_commit_message: ~
    extensions:
        - OpenEuropa\CodeReview\ExtraTasksExtension
