imports:
  - { resource: ../../dist/{configuration}.yml }

parameters:
  tasks.phpmd.ruleset:
    - ./resources/phpmd-ruleset.xml
  tasks.phpcs.triggered_by:
    - php
    - module
    - inc
    - theme
    - install
    - profile

services:
  task_runner:
    alias: GrumPHP\Runner\TaskRunner
    public: true
