imports:
  - { resource: ../../dist/{configuration}.yml }

grumphp:
  fixer:
    enabled: false

parameters:
  tasks.phpmd.ruleset:
  - ./resources/phpmd-ruleset.xml
  tasks.phpcs.standard: ./resources/library-phpcs-ruleset.xml
